<a href="https://colab.research.google.com/github/Avishek2020/ineuron_py12/blob/master/Session_1__Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task 1

###### 1.Install Jupyter notebook and run the first program and share the screenshot of the output.
[Screen Link](https://ibb.co/WpWmPYM)

######2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [0]:
out_list=[]
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        out_list.append(i)
print(out_list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

###### 3. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [0]:
firstname ,lastname = input("Enter first Name and Last Name with Space").split(" ")
print(firstname[::-1]+" "+lastname[::-1])

Enter first Name and Last Name with SpaceAvishek Mishra
kehsivA arhsiM

######4.Write a Python program to find the volume of a sphere with diameter 12 cm. 
**Formula:** V=4/3 * Ï€ * r3

In [0]:
diameter = int(input("Enter Diamter: "))
radius = (diameter/2)
V =((4/3)*(3.14)*(radius**3))
print("Volume of a sphere: ",V)

Enter Diamter: 12
Volume of a sphere:  904.3199999999999

8

## Task 2:

###### 1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [0]:
number = input("Enter sequence of comma-separated numbers : ").split(",")
print("output list:",number)

Enter sequence of comma-separated numbers : 1,2,3,4,5,6
output list: ['1', '2', '3', '4', '5', '6']

###### 2. Create the below pattern using nested for loop in Python.

In [0]:
for i in range(1,6,1):
    for j in range(i):
        print("*", end="")
    print()
for k in range(4,0,-1):
    for l in range(k):
        print("*", end ="")
    print()

*
**
***
****
*****
****
***
**
*

###### 3. Write a Python Program to reverse a word after accepting the input from the user.

In [0]:
word = input("Input word : ")
print("Reverse word:" ,word[::-1])

Input word : AcadGild
Reverse word: dliGdacA

###### 4. Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens <br>
**Sample Output:** <br>
WE, THE PEOPLE OF INDIA,<br>
------having solemnly resolved to constitute India into a SOVEREIGN,!<br>
-------------SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC<br>
--------------and to secure to all its citizens

In [0]:
str = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"

In [0]:
tot_str_len = len(str)
s1_len= len("WE, THE PEOPLE OF INDIA,")
s2_len= len("having solemnly resolved to constitute India into a SOVEREIGN, ")
s3_len= len("SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC ")
print(str[:s1_len]) 
print("     "+str[s1_len:s2_len+s1_len]+"!")
print("           "+str[s1_len+s2_len:s1_len+s2_len+s3_len])
print("            "+str[s1_len+s2_len+s3_len:tot_str_len])

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN,!
            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
             and to secure to all its citizens